.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  height: 5vh;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  left: auto;
  right: 0;
  width: 100%;
}

.App-nav {
  margin-top: 5vh;
  height: calc(100vh - 5vh);
  flex-basis: 300px;
  overflow-y: auto;
  overflow-x: auto;
}

.App-main {
  margin-top: 5vh;
  height: calc(100vh - 8vh);
  flex-shrink:1;
  flex-basis:calc(100% - 308px);
  overflow: auto;
  padding: 2vh 1vh 1vh 1vh;
}
